@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/fonts";

.comparison-table{
    border: 1px solid $separator;
    border-collapse: collapse;
    background-color: $box-background;

    .dates{
        background-color: $green;

        th{
            font-size: $h3-size;
            padding: 8px;
            color: $box-background;
        }
    }

    .table-body{
        & tr:nth-child(even){
        background-color: lighten($separator, $amount: 18%)
        }

        th{
           font-size: $h4-size;
           color: $green-hover;
           padding: 5px;
        }

        td{
            text-align: center;
        }
    }
}