@import "../../../../shared/styles/buttons";

.purchase-list {
    display: flex;
    flex-direction: column;
    gap: 13px;

    .purchase-actions{
      display: flex;
      gap: 10px;
      .purchase-button{
            @include button-style();
            padding: 7px 5px;
        }
    }
}
