@import "../../../../shared/styles/buttons";
@import "../../../../shared/styles/colors";
@import "../../../../shared/styles/responsive-breakpoints";

.purchase-list {
    border-bottom: .5px solid $separator;
    padding: 10px;

    .purchase-actions{
      display: flex;
      gap: 10px;
      .purchase-button{
            @include button-style();
            padding: 7px 5px;
        }
    }
}
