@import "../../../shared/styles/colors";
@import "../../../shared/styles/fonts";
@import "../../../shared/styles/responsive-breakpoints";

.react-calendar{
    width: 100%;
    border-radius: 15px;

    .react-calendar__navigation{
        .react-calendar__navigation__label {
            background: transparent !important;
            &:hover {
                background: transparent !important;
            }
        }

        .react-calendar__navigation__arrow{
            color: $green;
            font-size: $h2-size;
            background: transparent !important;
            &:hover {
                background: transparent !important;
            }
        }
    }

    .react-calendar__tile {
        border-radius: 10px; 
        transition: all 0.2s;
        height: 50px;
    }

    .react-calendar__tile--active{
        background-color: lighten(red, 40%) !important;
        &:hover{
            background-color: lighten(red, 35%) !important;
        }

    }

    .react-calendar__tile--now{
        border-radius: 10px;
    }

    .calendar-purchase{
        font-size: 8px;
        color: $green-hover;
        font-weight: 700;
        line-height: 8px;
    }

    @include respond-to("xs"){
        .calendar-purchase{
            font-size: 8.5px;
            display: flex;
            justify-content: center;
        }
    }

    @include respond-to("sm"){
        .calendar-purchase{
            font-size: 7px;
        }
    }

    @include respond-to("md"){

    }

    @include respond-to("lg"){

    }

    @include respond-to("xl"){

    }

}