@import "../../../../shared/styles/responsive-breakpoints";

.pending-item{
    display: flex;
    flex-direction: column;
    gap: 15px;

    .item{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .item-stat{
        display: flex;
        gap: 5px;
        align-items: flex-end;
    }

    @include respond-to("sm"){
        &{
            padding-left: 30px;
        }
    }

}


