$black: #2a2a2a;
$black-hover: lighten($black, 30%);

$mustard: #ecab0f;

$red: #ba0000;

$green: #4caf50;
$green-hover: #45a049;

$separator: #BDBDBD;

$background: rgb(238, 238, 237);

$box-background: #f9f9f9;
$box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);