@import '../../shared/styles/buttons';
@import '../../shared/styles/colors';
@import '../../shared/styles/responsive-breakpoints';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;

    .logo-container{
        border: 0px;
        background: none;        
        .logo{
            width: 100px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .header-options{
        display: flex;
        gap: 15px;
        align-items: center;

        .profile-button{
            @include button-style();
            padding: 5px 10px;
        }
    }
}

.burgerButton{
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    right: 15px;
    top: 10px;

    .line{
        height: 3px;
        width: 22px;
        border-radius: 20px;
        background-color: $black;
    }

    &:hover {
        .line{
            background-color: $black-hover;
        }
    }
}

.burgerMenuClosed {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 230px;
    background-color: white;
    box-shadow: 2px 0 5px $box-shadow;
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);

    .burgerButton{
       position: fixed;
       right: 15px;
       top: 15px;
    }
}

.burgerMenuOpen {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 230px;
    background-color: white;
    box-shadow: 2px 0 5px $box-shadow;
    z-index: 1000;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);

    .burgerButton{
        position: fixed;
        right: 15px;
        top: 15px;
    }
}

.burgerList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    width: 200px;
    gap: 5px;
    color: $black;
}

.headerList {
    display: none;
}

.closed{
    display: none;
}

.open{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 900;  
    background-color: $black;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}

.link-button {
    @include button-style();
    width: 90%;
    height: 45px;
}

@include respond-to("sm"){
    header{
        display: flex;
        gap: 15px;
    }
    .burgerButton {
        display: none;
    }
    .header-options{
        flex-direction: row-reverse;
        gap: 5px;
        .headerList {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            list-style: none;
            padding: 0;
        }
    }
    
    .burgerMenuClosed {
        display: none;
    }
    .burgerMenuOpen {
        display: none;
    }
    .burgerList {
        display: none;
    }
    .closed {
        display: none;
    }
    .open {
        display: none;
    }
    .link-button{
        width: auto;
        height: auto;
        padding: 5px 15px;
        background-color: transparent;
        color: $black;

        &:hover {
            background-color: lighten($black-hover, 10%);
            color: white;
        }
    }
}

@include respond-to("md"){
    header{
        .logo-container{
            .logo{
                width: 115px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }    
}
